

.formato {
    color: #ffffff;
}

.divs-facilidades{
    width: 325px;
}

.div-novidades{
width: 900px;
}

.botao-lilas {
    background-color: #9353ff;
    color: #ffffff;
}

.verde-limao {
    color: #Daff01;
}
.texto-menor{
    font-size: 13px;
}